
body{
  background:#2B2B2B;  
}
#big_wrapper{
     text-align:center;
}

#instructions{
     padding-left:15px;
     text-align:left;
     color:#74AFAD;
}

h1{
margin-bottom: 100px;
}

#game_grid{
 position: relative;
  text-align: center;
  height: 450px;
  width: 450px;
  margin: 0 auto;
}
#display{
  height:40px;
  width:70px;
  background-color: rgb(96, 0, 0);
  margin-top:10px;
  margin-left:30px; 
}
.display_col {
  padding:7px;
 color:rgb(255, 0, 0);  
}

#strict{
margin-top:11px;
}
.strict_toggle{
  margin-top:25px;
  margin-right:25px;
  float:right;
  background-color:black;
  height:10px;
  width:10px;
  border-radius: 100%;
}



.green {
  float: left; 
  border: 4px solid gray;
  background-color:green;
   height: 225px;
  width: 225px; 
  border-top-left-radius: 14px;
}
.red {
  float: right;
  border-right: 4px solid gray;
  border-top: 4px solid gray;
  border-bottom: 4px solid gray;
  background-color:darkred;
   height: 225px;
  width: 225px;
 border-top-right-radius: 14px; 
}
#functions{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
 position: absolute;
 height: 130px;
 width : 130px;
 background-color:silver;
}



.yellow {
  float: left;
   border-bottom: 4px solid gray;
  border-left: 4px solid gray;
  border-right: 4px solid gray;
  background-color:rgb(204,204,0);
   height: 225px;
  width: 225px; 
  border-bottom-left-radius: 14px; 
}
.blue {
  float: right;
   border-right: 4px solid gray;
  border-bottom: 4px solid gray;
  background-color:darkblue;
   height: 225px;
  width: 225px; 
  border-bottom-right-radius: 14px;
}
.green_light {
  background-color: rgb(0, 255, 0);
}
.red_light {
  background-color: rgb(255, 0, 0);
}

.yellow_light {
  background-color: rgb(255, 255, 0);
}

.blue_light {
  background-color: cyan;
}